<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="theme-color" content="#000000" />
<meta name="google-site-verification"
      content="QdJZEMLWFpqAkaOxsDd2zR4mzmtW7VN07LemJCDZuD0" />
{% if author %}
      <meta name="author" content="{{ author }}" />
{% else %}
      <meta name="author" content="Jonathan Revanaldi Alexandro Christian (Nathan)" />
{% endif %}
<meta name="keywords"
      content="Nathan, Portfolio, Game Developer, Web Developer, Rust, Golang, JavaScript, TypeScript Developer, Jonathan Revanaldi Alexandro Christian" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
{% if description %}
      <meta name="description" content="{{ description }}" />
      <meta property="og:description" content="{{ description }}" />
      <meta itemprop="description" content="{{ description }}" />
      <meta name="twitter:description" content="{{ description }}" />
{% else %}
      <meta name="description"
            content="Nathan's portfolio, a 17-year-old developer passionate about game development and creating the Astralune MMORPG game and related tools." />
      <meta property="og:description"
            content="Nathan's portfolio, a 17-year-old developer passionate about game development and creating the Astralune MMORPG game and related tools." />
      <meta itemprop="description"
            content="Nathan's portfolio, a 17-year-old developer passionate about game development and creating the Astralune MMORPG game and related tools." />
      <meta name="twitter:description"
            content="Nathan's portfolio, a 17-year-old developer passionate about game development and creating the Astralune MMORPG game and related tools." />
{% endif %}
<meta property="og:url" content="https://nathan.christmas" />
<meta property="og:site_name" content="Nathan" />
{% if image %}
      <meta property="og:image" content="{{ image | convertToValidURL }}" />
      <meta itemprop="image" content="{{ image | convertToValidURL }}" />
      <meta name="twitter:image" content="{{ image | convertToValidURL }}" />
{% else %}
      <meta itemprop="image"
            content="{{ link.website | development }}/images/portfolio-banner.png" />
      <meta property="og:image"
            content="{{ link.website | development }}/images/portfolio-banner.png" />
      <meta name="twitter:image"
            content="{{ link.website | development }}/images/portfolio-banner.png" />
{% endif %}
<meta name="twitter:card" content="summary_large_image" />
{% if title %}
      <meta property="og:title" content="{{ title }}" />
      <meta name="twitter:title" content="{{ title }}" />
      <meta itemprop="name" content="{{ title }}" />
{% else %}
      <meta property="og:title" content="Nathan" />
      <meta name="twitter:title" content="Nathan" />
      <meta itemprop="name" content="Nathan" />
{% endif %}
<link rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png" />
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png" />
<link rel="icon"
      type="image/png"
      sizes="194x194"
      href="/images/favicon-194x194.png" />
<link rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/android-chrome-192x192.png" />
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png" />
<link rel="manifest" href="/images/site.webmanifest" />
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#242424" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="msapplication-TileColor" content="#242424" />
<meta name="msapplication-TileImage" content="/images/mstile-144x144.png" />
<meta name="msapplication-config" content="/images/browserconfig.xml" />
